<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
    <!-- Локальная разработка без Docker Compose — читаемый текст в консоли -->
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- Docker Compose — JSON в консоль + отправка в Loki -->
    <springProfile name="!local">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>userId</includeMdcKeyName>
                <includeMdcKeyName>transactionId</includeMdcKeyName>
            </encoder>
        </appender>

        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://loki:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>application=${spring.application.name},level=%level,host=${HOSTNAME}</pattern>
                </label>
                <message class="com.github.loki4j.logback.JsonLayout">
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>userId</includeMdcKeyName>
                </message>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="LOKI"/>
        </root>
    </springProfile>

</configuration>